<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Enetworks Password Reset</title> -->
    <title>Gnpay Password Reset</title>
  </head>
  <body>
    <!-- <h1>eNetworksCommunity Password Reset</h1> -->
    <h1>Gnpay Password Reset</h1>
    <p>Dear user,</p>
    <p>Your OTP for password reset is: <strong>{{ otp }}</strong></p>
    <p>
      Please use this OTP to reset your password. If you didn't request a
      password reset, you can ignore this email.
    </p>
    <p>Thank you!</p>
  </body>
</html>
